@import '../../styles/utils/mixin.scss';

.flat {
  margin-bottom: 7px; 

  &_content {
    @include tablet-medium {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }  
  }

  &_description {
    margin: 8px 0;
  }

  &_title {
    color: $secondary-color;
    font-size: $font-size-s;
    font-weight: $font-weight-medium;
    line-height: 142.6%; /* 25.668px */
    margin-top: 15px;
    
    @include tablet-medium {
      font-size: $font-size-s;
    }

    @include desktop-medium{
      font-size: $font-size-l;
    }
  }
  
  &_location {
    color: $secondary-color;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    line-height: 142.6%; /* 25.668px */
    margin: 8px 0;

    @include tablet-medium {
      font-size: $font-size-s;
    }
  }

  &_tagsBox{
    display: flex;
    gap: 10px;

    @include tablet-medium {
      margin: 16px 0;
    }
  }

  &_tag {
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 10px;
    min-width: 84px;
    height: 20px; 
    padding: 4px 12px;
    border-radius: 10px;   
    text-align: center;

    @include desktop-medium { 
      height: 25px;
      padding: 3px 18px;
      border-radius: 15px;
      font-size: $font-size-xs;
    }
  }

  &_profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 0;

    @include tablet-medium {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      margin: 8px 20px;
    }
  }

  &_host{
    width: 135px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    @include tablet-medium {
      margin: 15px 0;
    }

    &_name {
      width: 82px;
      height: 33px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: $secondary-color;
      font-size: $font-size-xxxs;
      font-weight: $font-weight-medium;
      line-height: 142.6%;
      text-align: right;

      @include tablet-medium {
        font-size: $font-size-s;
        margin: 20px 0;
      }
    }

    &_photo {
      width: 32px;
      height: 32px;
      border-radius: 100px;

      @include tablet-medium {
        width: 48px;
        height: 48px;
      }

      @include tablet-large {
        width: 64px;
        height: 64px;
      }
    }
  }

  &_collapse {
    @include desktop-medium {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;

      &_txt {
        @include desktop-medium {
          min-height: 280px;
        }
      }
    }       
  }
}