@import '../../styles/utils/mixin.scss';

.card {
    min-width: 335px;
    min-height: 255px;  
    margin: 22px 0;
    display: grid;
    align-items: end;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    cursor: pointer;
    
    @include tablet-large {
      min-width: 288px;
      min-height: 288px;
    }

    @include desktop-large {
      min-width: 340px;
      min-height: 340px;
    }

    &_img {
      width: 100%;
      height: 100%;
      
      position: relative;
      object-fit: cover;     
      border-radius: 10px;
      
    }

    &_txt {
      min-width: 296px;
      max-width: 300px;
      position: absolute;
      padding: 188px 19px 15px;
      color: $primary-color;
      font-size: $font-size-s;
      line-height: 142.6%; /* 25.668px */
    }

}