@import '../../styles/utils/mixin.scss';

.card {
    min-width: 335px;
    min-height: 255px;  
    margin: 22px 0;
    display: grid;
    cursor: pointer;
    
    @include tablet-large {
      min-height: 575px;
    }

    @include desktop-medium {
      min-width: 340px;
      min-height: 340px;
    }

    &_img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      position: relative;
      // object-fit: contain;
      // gap: 30px;     
    }

    &_txt {
      position: absolute;
      margin: 200px 30px 15px;
      color: $primary-color;
      font-size: $font-size-s;
      line-height: 142.6%; /* 25.668px */
    }

}