// Color panel
$primary-color: #ffff;
$secondary-color: #FF6060;
$text-background-color: #F6F6F6;
$footer-color: #000;

// Police size 
$font-size-xxxs: 12px;
$font-size-xxs: 13px;
$font-size-xs: 14px;
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 36px;
$font-size-xl: 48px;

// Police weight
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-heavy: 700;

