@import '../../styles/utils/mixin.scss';

.collapse {
  margin-bottom: 20px;

  @include desktop-medium {
    margin-bottom: 30px;
  }

  &_title{
    color: $primary-color;
    font-size: $font-size-xxs;
    font-weight: $font-weight-medium;
    border-radius: 5px;
    background: $secondary-color;
    padding: 10px 15px;
    min-width: 335px;
    max-height: 30px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-medium {
      font-size: $font-size-s;
      max-height: 32px;
      padding: 10px 20px;
    }
    @include desktop-medium {
      font-size: $font-size-m;
      padding: 10px 20px;
    }
  }

  &_content {
    background-color: $text-background-color;
    color: $secondary-color;
    font-size: $font-size-xxxs;
    font-weight: 100;
    line-height: 142.6%; /* 17.112px */
    border-radius: 0 0 5px 5px;
    min-width: 335px;
    width: 85%;
    padding: 23px 20px 19px 20px;  
    position: relative;
    top: -5px;
    z-index: -2;
    @include unroll;

    @include tablet-medium {
      font-size: $font-size-s;
    }
  }

  &,
  .visible {
    width: 117.5%;
    letter-spacing: 1px;
  
  }
}
// .flat_page{
//   height: 290px;
// }
.arrow {
  cursor: pointer;
  display: flex;
  width: 32px;
  height: 32px;
  transition: all 100ms ease-in-out; 
  
  &_up {
    transform: rotate(0deg);    
  }

  &_down {
    margin: 8px;
    transform: rotate(180deg);
  }
}