@import '../../styles/utils/variable.scss';
@import '../../styles/utils/mixin.scss';

.collapse {
  margin-top: 20px;

  &_title{
    color: $primary-color;
    font-size: 13px;
    border-radius: 5px;
    background: $secondary-color;
    padding: 10px 0px 10px 10px;
    min-width: 335px;
    width: 85%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_content {
    background-color: $text-background-color;
    color: $secondary-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 142.6%; /* 17.112px */
    border-radius: 5px;
    min-width: 335px;
    padding: 13px 20px 19px 20px;  
    position: relative;
    top: 0px;
    // transition: padding 10s cubic-bezier(0.88, 0.12, 0.13, 0.92);
  }

  &,
  .visible {
    width: 80%;
  }
}

.arrow {
  cursor: pointer;
  display: flex;
  width: 32px;
  height: 32px;
  // transition: all 0.5s ease-in-out; 
  
  &_up {
    transform: rotate(0deg);
    // @include rotateUp
    
  }

  &_down {
    margin: 8px;
    transform: rotate(180deg);
    // @include rotateDown
  }
}