.header_nav {
    display: flex;
    margin-bottom: 27px;

    ul{
      width: 190px;
      display: inline-flex;
      align-items: center;
      margin: 0;
      padding: 15px 0;
      justify-content: flex-end;
      gap: 26px;
    }

    ul>li {
      list-style: none;
      text-decoration-line: underline;
      color: #FF6060;
      font-size: 12px;
      font-weight: 500;
      line-height: 142.6%; /* 17.112px */      
    }
}

