@import '../../styles/utils/mixin.scss';

.header_section{
  min-height: 46px;
  max-height: 68px;
  height: 75%;

  @include desktop-medium {
    height: 100%;
  }

}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;

    @include desktop-medium {
      margin-bottom: 50px;
    }

    &_logo {
      max-width: 210px;
      width: 29%;
      height: 100%;

      @include desktop-medium {
        width: 100%;
      }
    }
}

ul{
  width: 190px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  gap: 26px;
  color: $secondary-color;

  @include tablet-medium {
    gap: 40px;
  }

  @include desktop-medium {
    width: auto;
    gap: 57px;
  }

  li {
    list-style: none;
    text-decoration: none;
    color: $secondary-color;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: 142.6%; /* 17.112px */   
    cursor: pointer;   

    @include tablet-medium {
      font-size: $font-size-s;
    }

    @include desktop-medium {
      font-size: $font-size-m;
    }
  }

  .link-active {
    text-decoration: underline;
    color: $secondary-color;
  }

}


