.banner {
  position: relative;
  margin-bottom: 5px;

  &_img {
    border-radius: 10px;
    width: 89.4%;
    height: 111px;
    object-fit: cover; 
    filter: brightness(0.6);
  }

  &_text {
    color: $primary-color;
    width: 58%;
    line-height: 100%; /* 24px */
    position: absolute;
    top: 31px;
    left: 16px;
  }
}