@import '../../styles/utils/mixin.scss';


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat';
  font-style: normal;
}

.main_container {
  max-width: 1440px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 20px;

  @include tablet-large {
    margin: 45px;
  }

  @include desktop-large {
    margin: 50px auto;
    padding: 0 50px;
  }
  
}

.footer_section {
  max-width: 1440px;
  background-color: $footer-color;
  
  @include desktop-large {
    margin: 45px auto;
  }
}

li {
  list-style: none;
}

