@import '../../styles/utils/mixin.scss';

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat';
  font-style: normal;
}
#root {
  margin: 0 auto;
}

body {
  min-width: 300px;
  margin: 0 ;
  padding: 0;
}

.main_container {
  min-width: 300px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px 5%;

  @include desktop-medium {
    margin: 45px;
    padding: 0px 0;

  }
}

.footer_section {
  background-color: $footer-color;
  
  @include desktop-large {
    margin: 0 auto;
  }
}

li {
  list-style: none;
}

